.scene {
	width: 200px;
	height: 200px;
	margin: 30px;

	perspective: 1000px;
}

.cube > div {
	box-sizing: content-box;
	border-radius: 37px;
	border: solid #fff 2px;
}
.cube {
	width: 200px;
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
}
.cube:hover {
	cursor: pointer;
}
.dot {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 15px;
}

.front {
	background-image: url('/images/husky-1.png') !important;
  background-size: contain !important;
}

.back {
	background-image: url('/images/frenchie-1.png') !important;
  background-size: contain !important;
}
.right .dot3 {
	background-image: url('/images/husky-2.png') !important;
  background-size: contain !important;
}
.left {
	background-image: url('/images/frenchie-2.png') !important;
  background-size: contain !important;
}
.top {
	background-image: url('/images/husky-3.png') !important;
  background-size: contain !important;
}
.bottom {
	background-image: url('/images/frenchie-3.png') !important;
  background-size: contain !important;
}

.dot-center .cube.show-front {
	transform: translateZ(100px);
}
.cube.show-right {
	transform: rotateY(90deg) translateZ(100px);
}
.cube.show-back {
	transform: rotateX(-180deg) translateZ(100px);
}
.cube.show-left {
	transform: rotateY(-90deg) translateZ(100px);
}
.cube.show-top {
	transform: rotateX(90deg) translateZ(100px);
}
.cube.show-bottom {
	transform: rotateX(-90deg) translateZ(100px);
}

.cube__face {
	position: absolute;
	width: 200px;
	height: 200px;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: black;
	text-align: center;
	opacity: 1;
	background: #1B193F;
}

/* .cube__face--front {
	background: hsla(0, 90%, 12%, 0.7);
}
.cube__face--right {
	background: hsla(60, 100%, 50%, 0.7);
}
.cube__face--back {
	background: hsla(120, 100%, 50%, 0.7);
}
.cube__face--left {
	background: hsla(180, 100%, 50%, 0.7);
}
.cube__face--top {
	background: hsla(240, 100%, 50%, 0.7);
}
.cube__face--bottom {
	background: hsla(300, 100%, 50%, 0.7);
} */

.cube__face--front {
	transform: rotateY(0deg) translateZ(100px);
}
.cube__face--right {
	transform: rotateY(90deg) translateZ(100px);
}
.cube__face--back {
	transform: rotateY(180deg) translateZ(100px);
}
.cube__face--left {
	transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--top {
	transform: rotateX(90deg) translateZ(100px);
}
.cube__face--bottom {
	transform: rotateX(-90deg) translateZ(100px);
}
