
p {
  font-family: 'Barlow' !important;
}

.outcome {
  height: 200px;
  width: 200px;
  background: rgb(255, 203, 20);
  margin-bottom: 50px;
  border-radius: 50%;
  border-style: dotted;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotateY(0deg) rotateX(0deg);
  transition: 1s;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: .8;
  color: #070B17;
  border-color: rgb(255, 203, 20);
}

.outcome::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 185px;
  width: 185px;
  display: block;
  background: none;
  border: 1px solid rgba(#fff, .25);
  border-radius: 50%;
}
.outcome::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 190px;
  width: 190px;
  display: block;
  background: none;
  border: 1px solid rgba(white, .15);
  border-radius: 50%;
}

.flip {
  transition: 1s;
  transform: rotateY(720deg) rotateX(720deg);
}

.toss {
  animation: toss .7s forwards ease-in-out;
}

@keyframes toss {
  0% { top: 0px;}
  50% { top: -150px;}
  100% { top: 0px;}
}

